.parentFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
}
#formContainer{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 16px #000000;
  width: 60vw;
  height: 50%;
  padding: 20px;
  margin: 40px;
}
